<!DOCTYPE html>
<html>
<head>
    <title>Select Stream</title>
</head>
<body>

    <h2>Select Your Stream</h2>

    <form method="POST">
    <select name="stream">
        <option value="Software Development">Software Development</option>
        <option value="Data Science / AI">Data Science / AI</option>
        <option value="Web Development">Web Development</option>
        <option value="Database / SQL">Database / SQL</option>
    </select>

    <br><br>
    <button type="submit">Start Interview</button>
</form>

</body>
</html>